.page-header {
   height:0.5rem;
  .header-wrap {
    position: fixed;
    width: 100%;
    height: .5rem;
    top: 0;
    left: 0;
    background-color: #5B78C0;
    z-index: 100
  }
  h3 {
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    font-size: .16rem;
    color: #FFF;
    .dropdown {
      width: .16rem;
      height: .16rem;
      margin-left: .03rem;
      vertical-align: middle;
      display: inline-block;
      margin-bottom: .03rem;
    }
    .down {
      background: url(https://clb.yztz.cn/app/images//down-arrow.png) center no-repeat;
      background-size: .16rem
    }
    .up {
      background: url(https://clb.yztz.cn/app/images/up-arrow.png) center no-repeat;
      background-size: .16rem
    }
  }
  .nav-left {
    left: 0
  }
  .nav-right {
    right: 0
  }
  .nav-left,.nav-right {
    position: absolute;
    height: .5rem;
    line-height: .5rem;
    top: 0;
    padding: 0 .15rem;
    color: #FFF
  }
}

