.icon-add,.icon-back,.icon-delete,.icon-msg,.icon-search,.icon-setting,.icon-tel,.icon-top {
  display: inline-block;
  width: .2rem;
  height: .2rem;
  vertical-align: middle
}

.icon-clear,.icon-express,.icon-info,.icon-qian,.icon-recommend {
  height: .16rem;
  display: inline-block;
  vertical-align: middle
}

.icon-back {
  background: url(https://clb.yztz.cn/app/images/icon-arrow-l.png) center no-repeat;
  background-size: .2rem
}

.icon-msg {
  background: url(https://clb.yztz.cn/app/images/icon-msg.png) center no-repeat;
  background-size: .2rem
}

.icon-setting {
  background: url(https://clb.yztz.cn/app/images/icon-setting.png) center no-repeat;
  background-size: .2rem
}

.icon-search {
  background: url(https://clb.yztz.cn/app/images/icon-search.png) center no-repeat;
  background-size: .2rem
}

.icon-top {
  background: url(https://clb.yztz.cn/app/images/to-top.png) center no-repeat;
  background-size: .2rem
}

.icon-tel {
  background: url(https://clb.yztz.cn/app/images/icon-tel.png) center no-repeat;
  background-size: .2rem
}

.icon-add {
  background: url(https://clb.yztz.cn/app/images/icon-add.png) center no-repeat;
  background-size: 100%
}

.icon-delete {
  background: url(https://clb.yztz.cn/app/images/icon-delete.png) center no-repeat;
  background-size: 100%
}

.icon-recommend {
  width: .36rem;
  background: url(https://clb.yztz.cn/app/images/icon-recommend.png) center no-repeat;
  background-size: .36rem .16rem
}

.icon-clear,.icon-info,.icon-qian {
  width: .16rem
}

.icon-info {
  background: url(https://clb.yztz.cn/app/images/icon-info.png) center no-repeat;
  background-size: .16rem
}

.icon-clear {
  background: url(https://clb.yztz.cn/app/images/icon-clear.png) center no-repeat;
  background-size: .16rem
}

.icon-qian {
  background: url(https://clb.yztz.cn/app/images/icon-qian.png) center no-repeat;
  background-size: .16rem
}

.icon-express {
  width: .66rem;
  background: url(https://clb.yztz.cn/app/images/express.png) center no-repeat;
  background-size: .66rem .16rem
}

.icon-bank-abc,.icon-bank-bcm,.icon-bank-boc,.icon-bank-cbc,.icon-bank-ccb,.icon-bank-ceb,.icon-bank-cib,.icon-bank-cmb,.icon-bank-cmbc,.icon-bank-gdb,.icon-bank-hxb,.icon-bank-icbc,.icon-bank-pab,.icon-bank-psbc,.icon-bank-spdb {
  display: inline-block;
  width: .24rem;
  height: .24rem;
  vertical-align: middle
}

.icon-bank-cbc {
  background: url(https://clb.yztz.cn/app/images/icon-bank-cbc.png) center no-repeat;
  background-size: 100%
}

.icon-bank-icbc {
  background: url(https://clb.yztz.cn/app/images/icon-bank-icbc.png) center no-repeat;
  background-size: 100%
}

.icon-bank-abc {
  background: url(https://clb.yztz.cn/app/images/icon-bank-abc.png) center no-repeat;
  background-size: 100%
}

.icon-bank-cmb {
  background: url(https://clb.yztz.cn/app/images/icon-bank-cmb.png) center no-repeat;
  background-size: 100%
}

.icon-bank-boc {
  background: url(https://clb.yztz.cn/app/images/icon-bank-boc.png) center no-repeat;
  background-size: 100%
}

.icon-bank-bcm {
  background: url(https://clb.yztz.cn/app/images/icon-bank-bcm.png) center no-repeat;
  background-size: 100%
}

.icon-bank-cmbc {
  background: url(https://clb.yztz.cn/app/images/icon-bank-cmbc.png) center no-repeat;
  background-size: 100%
}

.icon-bank-spdb {
  background: url(https://clb.yztz.cn/app/images/icon-bank-spdb.png) center no-repeat;
  background-size: 100%
}

.icon-bank-cib {
  background: url(https://clb.yztz.cn/app/images/icon-bank-cib.png) center no-repeat;
  background-size: 100%
}

.icon-bank-hxb {
  background: url(https://clb.yztz.cn/app/images/icon-bank-hxb.png) center no-repeat;
  background-size: 100%
}

.icon-bank-ceb {
  background: url(https://clb.yztz.cn/app/images/icon-bank-ceb.png) center no-repeat;
  background-size: 100%
}

.icon-bank-ccb {
  background: url(https://clb.yztz.cn/app/images/icon-bank-ccb.png) center no-repeat;
  background-size: 100%
}

.icon-bank-gdb {
  background: url(https://clb.yztz.cn/app/images/icon-bank-gdb.png) center no-repeat;
  background-size: 100%
}

.icon-bank-pab {
  background: url(https://clb.yztz.cn/app/images/icon-bank-pab.png) center no-repeat;
  background-size: 100%
}

.icon-bank-psbc {
  background: url(https://clb.yztz.cn/app/images/icon-bank-psbc.png) center no-repeat;
  background-size: 100%
}
