.page-footer
  height: .5rem;
  .footer-wrap
    position: fixed;
    width: 100%;
    height: .5rem;
    bottom: 0;
    left: 0;
    background-color: #F4F4F6;
    border-top: .01rem solid #ECECEC;
    z-index: 100;
    >ul
      display: table;
      width: 100%;
      >li
        display: table-cell;
        width: 20%;
        >a
          display: block;
          height: .5rem;
          text-align: center;
          color: #999;
          font-size: .12rem;
          padding-top: .04rem;
          line-height: 1;
          >i
            font-size: .26rem;
            >em
              position: absolute;
              width: .04rem;
              height: .04rem;
              overflow: hidden;
              border-radius: 50%;
              background-color: red;
              margin: 0 0 0 .03rem;
      a.active
        color:#5B78C0;
