.mod-form
  position: relative;
  padding: .05rem 0 .05rem .15rem;
  line-height: .32rem;
  background: #FFF;
  border-top: .01rem solid #EDEDED;
  border-bottom: .01rem solid #EDEDED
  label
    display: inline-block;
    color: #666;
    font-size: .16rem
  .tip-r
    position: absolute;
    top: .05rem;
    bottom: .05rem;
    right: 0;
    line-height: .32rem;
    padding: 0 .15rem;
    color: #5B78C0;
    border-left: .01rem solid #ECECEC
.mod-form-wrap
  background: #FFF;
  padding-left: .15rem;
  border-top: .01rem solid #ECECEC;
  border-bottom: .01rem solid #ECECEC
  .mod-form
    padding: .05rem 0;
    border-bottom: none;
  .mod-form:first-child
    border-top: none
.mod-form-title
  line-height: .44rem;
  padding: 0 .15rem;
  color: #999
.mod-no-data
  padding-top: 2rem;
  font-size: .16rem;
  text-align: center
.mod-no-found
  padding-top: 2rem;
  font-size: .16rem;
  text-align: center
.mod-menu-wrap
  padding-left: .15rem;
  background: #FFF;
  border-top: .01rem solid #ECECEC;
  border-bottom: .01rem solid #ECECEC
  .mod-menu
    display: block;
    position: relative;
    line-height: .5rem;
    color: #666;
    border-bottom: .01rem solid #ECECEC
  .mod-menu:last-child
    border-bottom: none
.mod-more
  display: block;
  line-height: .5rem;
  background: #FFF;
  text-align: center
.mod-no-found
  background-size: 1.3rem 1rem;
  color: #666
.mod-no-data
  background-size: .8rem .9rem;
  color: #666
.mod-prompt
  font-size: .12rem;
  color: #999;
  width: 1.68rem;
  margin: 0 auto
.mod-img-code-wrap
  position: fixed;
  top: 20%;
  left: .3rem;
  right: .3rem;
  background: #FFF;
  border-radius: .05rem
