.page-user
  .page-my
    .mod-userinfo
      background-color: #5B78C0;
      padding: .15rem .2rem
      .balance-wrap
        text-align: center;
        color: #FFF;
        padding: .4rem 0
      .pay-wrap
        display: table;
        width: 100%
        li
          display: table-cell;
          width: 50%
        a
          display: block;
          text-align: center;
          line-height: .5rem;
          border-radius: .05rem;
          background-color: #FFF;
          color: #5B78C0;
          font-size: .18rem
    .mod-menu
      margin-top: .1rem;
      border-top: .01rem solid #ECECEC;
      border-bottom: .01rem solid #ECECEC;
      padding-left: .2rem;
      background-color: #FFF
      a
        display: block;
        position: relative;
        line-height: .6rem;
        padding-left: .46rem;
        font-size: .16rem;
        border-bottom: .01rem solid #ECECEC
      a:last-child
        border-bottom: none
      .link-trade-list
        background: url(https://clb.yztz.cn/app/images/icon-trade-list.png) left center no-repeat;
        background-size: .32rem
      .link-topic
        background: url(https://clb.yztz.cn/app/images/icon-topic.png) left center no-repeat;
        background-size: .32rem
      .link-packet
        background: url(https://clb.yztz.cn/app/images/icon-packet.png) left center no-repeat;
        background-size: .32rem
      .link-extension
        background: url(https://clb.yztz.cn/app/images/icon-extension.png) left center no-repeat;
        background-size: .32rem
      .link-wechat
        background: url(https://clb.yztz.cn/app/images/icon-wechat.png) left center no-repeat;
        background-size: .32rem
    .link-extension
      background: url(https://clb.yztz.cn/app/images/icon-extension.png) left center no-repeat;
      background-size: .32rem
    .link-wechat
      background: url(https://clb.yztz.cn/app/images/icon-wechat.png) left center no-repeat;
      background-size: .32rem
  .page-info
    .mod-info
      .pic
        padding-left: .8rem;
        line-height: 1rem;
        background: url(https://clb.yztz.cn/app/images/icon-head.png) .15rem center no-repeat #FFF;
        background-size: .5rem;
        font-size: .16rem;
        border-bottom: .01rem solid #ECECEC
  .page-notice
    .mod-notice-list
      padding-left: .15rem;
      background: #FFF;
      border-bottom: .01rem solid #ECECEC
      .mod-notice-detail
        .title
          display: block;
          padding: .1rem 0;
          border-bottom: .01rem solid #ECECEC
      a
        display: block;
        padding: .1rem 0;
        border-bottom: .01rem solid #ECECEC
      a:last-child
        border-bottom: none
    h4
      font-size: .16rem;
      padding: .05rem 0
    p
      font-size: .12rem;
      color: #999
  .page-notice
    .mod-notice-detail
      padding: 0 .15rem
      .content
        padding: .1rem 0
  .page-register
    .mod-step2
      .mod-form label
        width: .8rem
  .page-user-pass
    .part2
      .mod-form
        label
         width: 1rem

