.mod-news-wrap
  width:100%;
  .timecon
    margin: 20px 0 10px 16px;
    position: relative;
  .livecon
    border-left: 1px solid #d8e6f2
  >li
    position: relative;
    width: 100%;
    margin: 0 0 30px;
  .timeline
    width: 77px;
    height: 15px;
    position: relative;
    border-top: 1px solid #d8e6f2;
    .dotbg
      position: absolute;
      left: -5px;
      top: -5px;
      width: 10px;
      height: 10px;
      background-color: #e9eff4;
      border-radius: 50%;
    .dot
      width: 4px;
      height: 4px;
      margin: 3px;
      background-color: #1b7ecc;
      border-radius: 50%;
    .time
      position: absolute;
      right: -6px;
      top: -10px;
      font-size: 11px;
      width: 60px;
      height: 18px;
      line-height: 19px;
      border-radius: 11px;
      text-align: center;
      color: #1b7ecc;
      background-color: #E9F2FA;
  .live-c
    padding: 0 70px 0 26px;
    color: #999;
  .live-c.onlytxt
    padding: 0 10px 0 26px
    .live-ele
      position: relative
      .flag
        position: absolute;
        right: -55px;
        top: 7px;
        width: 40px;
        height: 40px;
        border-radius: 50%

